@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.summary {
    width: 100%;
}
.summary tr td {
    padding: 2px 0px!important;
    font-size: 14px;
    line-height: 1.71em;
}
.text-gray-700 {
    --tw-text-opacity: none!important;
    color: rgba(55, 65, 81, var(--tw-text-opacity));
}
.my-table-header {
    background: lightskyblue;
}
.my-pagination {
    padding: 0 1%;
}