@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.summary {
    width: 100%;
}
.summary tr td {
    padding: 2px 0px!important;
    font-size: 14px;
    line-height: 1.71em;
}
.text-gray-700 {
    --tw-text-opacity: none!important;
    color: rgba(55, 65, 81, var(--tw-text-opacity));
}
.my-table-header {
    background: lightskyblue;
}
.report-table-header {
    background: darkgray;
}
.my-pagination {
    padding: 0 1%;
}
.payment-log {
    padding: 5% 20%;
}

.search-table {
    padding-left: 2%;
    padding-right: 2%;
}
.size-wl {
    font-size: 12px !important;
}
.text-title {
    color: rgb(0, 180, 137) !important;
}
.invoice-header {
    padding-bottom: 10px !important;
}
.error {
    color: red;
}
.ajax-error {
    display: none;
}
.ajax-success {
    display: none;
}
.identity {
    padding-left: 10px;
    padding-right: 10px;
    color:darkgoldenrod;
}
.link-a {
    color: lightseagreen;
}
